# Local Perspective API source directory (leave empty to use Modrinth Maven)
PERSPECTIVE_API_DIR=../Perspective-API

MODRINTH_TOKEN=
MODRINTH_ID=
CURSEFORGE_TOKEN=
CURSEFORGE_ID=
CURSEFORGE_SLUG=perspective-api-demo

COLLECT_OUTPUT=build/perspective_api_demo.txt
